#keybed{
    grid-area: keybed;
    display: grid;
    grid: "top top top"30px
          "left keys right"65px
          "bottom bottom bottom"30px /
          20px 1fr 22px;
}

#keys{
    grid-area:keys;
    align-self: center;
}

.key{
    margin-left: 5.3px;
    
}
#key-top{
    grid-area: top;
    margin-top: 6px;
    margin-left: 1px;
}
#key-left{
    grid-area: left;
    margin-top: -16px;
    margin-left: 1px;
}
#key-right{
    grid-area: right;
    margin-top: -16px;
    margin-left: 5px;
}
#key-bottom{
    grid-area: bottom;
    align-self: end;
}

div.tempo.knob {
    width: 20px;
    height: 20px;
    z-index:10;
}

div.attack.knob {
    width: 20px;
    height: 20px;
    z-index:10;
}
div.decay.knob {
    width: 20px;
    height: 20px;
    z-index:10;
}
div.eg-int.knob {
    width: 20px;
    height: 20px;
    z-index:10;
}