#top{
    height: 50px;
    grid-area: top;
    display: grid;
    grid: "power envelope midi" 100% /
    100px 250px 200px;
}

#plate{
   margin-top: -50px;
}
#power{
    grid-area: power;
}
#envelope{
    grid-area: envelope;
    display: grid;
    grid: "left-line tempo attack decay eg-int right-line" 100% /
    5px 60px 60px 60px 60px 5px;
    align-items: center;
}
.tempo{
    grid-area:tempo;
    justify-self: center;
}
.attack{
    grid-area:attack;
    justify-self: center;
}
.decay{
    grid-area:decay;
    justify-self: center;
}
.eg-int{
    grid-area:eg-int;
    justify-self: center;
}

div.tempo.knob {
    width: 20px;
    height: 20px;
    z-index:10;
}

div.attack.knob {
    width: 20px;
    height: 20px;
    z-index:10;
}
div.decay.knob {
    width: 20px;
    height: 20px;
    z-index:10;
}
div.eg-int.knob {
    width: 20px;
    height: 20px;
    z-index:10;
}


#midi{
    grid-area: midi;
}